/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-testimonial-block  {
  border-left: 2px solid $gray;
  margin: 0 auto;
  padding: 10px 15px;
  box-shadow: 0px 0px 3px 2px $gray;
  border-radius: 3px;

  cite {
    color: #ccc;

    &::before {
      content: '-';
      display: inline-block;
      margin-right: 5px;
    }
  }
}
